@import 'tailwindcss/base';
@import './fonts.css';
@import './docsearch.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-azure-10: #9db8f7;
    --color-azure-11: #b5c9fa;
    --color-azure-12: #c8d7ff;
    --color-azure-13: #d8e2ff;
    --color-azure-14: #e8eeff;
    --color-azure-15: #f3f6ff;
    --color-azure-00: #000f2e;
    --color-azure-00d: #0b101f;
    --color-azure-01: #001c39;
    --color-azure-01d: #101B2E;
    --color-azure-02: #002852;
    --color-azure-02d: #1A273F;
    --color-azure-03: #00356c;
    --color-azure-03d: #283551;
    --color-azure-04: #00468b;
    --color-azure-04d: #364669;
    --color-azure-05: #005bb0;
    --color-azure-05d: #475b86;
    --color-azure-06: #0070d6;
    --color-azure-06d: #5870a4;
    --color-azure-07: #0083f8;
    --color-azure-07d: #6783bf;
    --color-azure-08: #5595fa;
    --color-azure-08d: #7d95cc;
    --color-azure-09: #7aa7ff;
    --color-azure-09d: #95a7d5;
    --color-azure-10d: #aab8dd;
    --color-azure-11d: #bfc9e5;
    --color-azure-12d: #d0d7ec;
    --color-azure-13d: #dde2f1;
    --color-azure-14d: #ebeef7;
    --color-azure-15d: #f5f6fb;
    --color-blue-10: #b4b1ff;
    --color-blue-11: #c6c4ff;
    --color-blue-12: #d5d3fe;
    --color-blue-13: #e1e0fc;
    --color-blue-14: #edecfd;
    --color-blue-15: #f6f6fd;
    --color-blue-00: #11033f;
    --color-blue-00d: #110d26;
    --color-blue-01: #190c56;
    --color-blue-01d: #1b173a;
    --color-blue-02: #211375;
    --color-blue-02d: #25224f;
    --color-blue-03: #2819a0;
    --color-blue-03d: #322f69;
    --color-blue-04: #3327c7;
    --color-blue-04d: #413e87;
    --color-blue-05: #4835f7;
    --color-blue-05d: #5652a1;
    --color-blue-06: #6256ff;
    --color-blue-06d: #6c69b2;
    --color-blue-07: #7a71f9;
    --color-blue-07d: #807cc1;
    --color-blue-08: #8d88ff;
    --color-blue-08d: #9391cc;
    --color-blue-09: #a19dff;
    --color-blue-09d: #a5a3d4;
    --color-blue-10d: #b7b5dd;
    --color-blue-11d: #c8c7e5;
    --color-blue-12d: #d6d5eb;
    --color-blue-13d: #e2e1f1;
    --color-blue-14d: #ededf6;
    --color-blue-15d: #f6f6fb;
    --color-cyan-10: #37c7f4;
    --color-cyan-11: #7cd4fb;
    --color-cyan-12: #a3dffd;
    --color-cyan-13: #c0e8fe;
    --color-cyan-14: #dbf1fe;
    --color-cyan-15: #eef8fe;
    --color-cyan-00: #061219;
    --color-cyan-00d: #0c1115;
    --color-cyan-01: #0a1d26;
    --color-cyan-01d: #141c21;
    --color-cyan-02: #122a35;
    --color-cyan-02d: #1e292f;
    --color-cyan-03: #133a48;
    --color-cyan-03d: #29383f;
    --color-cyan-04: #184c5e;
    --color-cyan-04d: #364952;
    --color-cyan-05: #1e647a;
    --color-cyan-05d: #47606c;
    --color-cyan-06: #257a95;
    --color-cyan-06d: #577584;
    --color-cyan-07: #238eaf;
    --color-cyan-07d: #65889a;
    --color-cyan-08: #25a2c6;
    --color-cyan-08d: #729cae;
    --color-cyan-09: #2bb5df;
    --color-cyan-09d: #81aec4;
    --color-cyan-10d: #8fbfd7;
    --color-cyan-11d: #a9cfe4;
    --color-cyan-12d: #bedbeb;
    --color-cyan-13d: #cee6f4;
    --color-cyan-14d: #e2f0f8;
    --color-cyan-15d: #f0f8fc;
    --color-grayscale-10: #6a6d73;
    --color-grayscale-11: #8a8f93;
    --color-grayscale-12: #abb1b8;
    --color-grayscale-13: #d7d7db;
    --color-grayscale-14: #eef1f1;
    --color-grayscale-15: #ffffff;
    --color-grayscale-00: #000000;
    --color-grayscale-01: #0b0c0d;
    --color-grayscale-02: #121415;
    --color-grayscale-03: #171a1b;
    --color-grayscale-04: #1e2021;
    --color-grayscale-05: #252627;
    --color-grayscale-06: #2b2f30;
    --color-grayscale-07: #38393c;
    --color-grayscale-08: #424546;
    --color-grayscale-09: #525558;
    --color-green-10: #00d19f;
    --color-green-11: #00e4ad;
    --color-green-12: #00f4b9;
    --color-green-13: #34ffc5;
    --color-green-14: #a9ffde;
    --color-green-15: #d9ffef;
    --color-green-00: #0a130f;
    --color-green-00d: #0e1210;
    --color-green-01: #0f1f19;
    --color-green-01d: #161d1a;
    --color-green-02: #1d2b25;
    --color-green-02d: #222926;
    --color-green-03: #293933;
    --color-green-03d: #2f3734;
    --color-green-04: #354b42;
    --color-green-04d: #3e4944;
    --color-green-05: #3d6355;
    --color-green-05d: #4e5f58;
    --color-green-06: #477b67;
    --color-green-06d: #5f766c;
    --color-green-07: #429275;
    --color-green-07d: #698b7d;
    --color-green-08: #3ea784;
    --color-green-08d: #749f8d;
    --color-green-09: #00be91;
    --color-green-09d: #7eb29e;
    --color-green-10d: #8bc4ad;
    --color-green-11d: #98d6bd;
    --color-green-12d: #a3e5ca;
    --color-green-13d: #aef0d5;
    --color-green-14d: #d2f6e7;
    --color-green-15d: #eafaf3;
    --color-lime-10: #53d240;
    --color-lime-11: #5ce546;
    --color-lime-12: #63f44c;
    --color-lime-13: #8cfb80;
    --color-lime-14: #bffeb9;
    --color-lime-15: #dfffdd;
    --color-lime-00: #091308;
    --color-lime-00d: #0d120d;
    --color-lime-01: #101f0e;
    --color-lime-01d: #161d15;
    --color-lime-02: #162d14;
    --color-lime-02d: #202b1f;
    --color-lime-03: #1e3d1c;
    --color-lime-03d: #2b3a2a;
    --color-lime-04: #255020;
    --color-lime-04d: #374c36;
    --color-lime-05: #26691b;
    --color-lime-05d: #456343;
    --color-lime-06: #338027;
    --color-lime-06d: #567953;
    --color-lime-07: #44953a;
    --color-lime-07d: #678e64;
    --color-lime-08: #4ca93e;
    --color-lime-08d: #76a072;
    --color-lime-09: #4cbf3a;
    --color-lime-09d: #81b57d;
    --color-lime-10d: #8ec78a;
    --color-lime-11d: #9cd997;
    --color-lime-12d: #a7e7a1;
    --color-lime-13d: #b9f0b5;
    --color-lime-14d: #d8f6d6;
    --color-lime-15d: #ebfbea;
    --color-magenta-10: #ff97d7;
    --color-magenta-11: #fcb4de;
    --color-magenta-12: #fdc8e6;
    --color-magenta-13: #fed8ed;
    --color-magenta-14: #fee8f4;
    --color-magenta-15: #fff3fa;
    --color-magenta-00: #29001b;
    --color-magenta-00d: #1e0a16;
    --color-magenta-01: #3c002a;
    --color-magenta-01d: #2d1223;
    --color-magenta-02: #4f053a;
    --color-magenta-02d: #3e1c31;
    --color-magenta-03: #69064e;
    --color-magenta-03d: #532743;
    --color-magenta-04: #870765;
    --color-magenta-04d: #6b3456;
    --color-magenta-05: #a61f80;
    --color-magenta-05d: #894470;
    --color-magenta-06: #c82d98;
    --color-magenta-06d: #a75588;
    --color-magenta-07: #e43db0;
    --color-magenta-07d: #c2639f;
    --color-magenta-08: #ec63bd;
    --color-magenta-08d: #cf7baf;
    --color-magenta-09: #ee85c6;
    --color-magenta-09d: #d793bb;
    --color-magenta-10d: #deaac8;
    --color-magenta-11d: #e6bfd4;
    --color-magenta-12d: #eccfdf;
    --color-magenta-13d: #f1dde8;
    --color-magenta-14d: #f7ebf1;
    --color-magenta-15d: #fbf5f8;
    --color-orange-10: #ebaf26;
    --color-orange-11: #febe49;
    --color-orange-12: #ffd088;
    --color-orange-13: #ffddb2;
    --color-orange-14: #ffebd4;
    --color-orange-15: #fff5e9;
    --color-orange-00: #180f01;
    --color-orange-00d: #151009;
    --color-orange-01: #261903;
    --color-orange-01d: #221a11;
    --color-orange-02: #352505;
    --color-orange-02d: #2f261a;
    --color-orange-03: #47320a;
    --color-orange-03d: #403425;
    --color-orange-04: #5b430e;
    --color-orange-04d: #524532;
    --color-orange-05: #765715;
    --color-orange-05d: #6b5942;
    --color-orange-06: #906b1d;
    --color-orange-06d: #836e51;
    --color-orange-07: #a87c1f;
    --color-orange-07d: #98805f;
    --color-orange-08: #bf8e24;
    --color-orange-08d: #ad926d;
    --color-orange-09: #d69e27;
    --color-orange-09d: #c2a37a;
    --color-orange-10d: #d5b487;
    --color-orange-11d: #e6c49a;
    --color-orange-12d: #ecd4b7;
    --color-orange-13d: #f0e0cd;
    --color-orange-14d: #f6ede2;
    --color-orange-15d: #faf6f0;
    --color-red-10: #fe9f9b;
    --color-red-11: #feb7b4;
    --color-red-12: #ffcbc8;
    --color-red-13: #ffdad8;
    --color-red-14: #ffe9e8;
    --color-red-15: #fff4f3;
    --color-red-00: #290400;
    --color-red-00d: #200b09;
    --color-red-01: #3d0600;
    --color-red-01d: #301210;
    --color-red-02: #530c02;
    --color-red-02d: #431c19;
    --color-red-03: #6d1104;
    --color-red-03d: #592624;
    --color-red-04: #8c1804;
    --color-red-04d: #733330;
    --color-red-05: #b2220a;
    --color-red-05d: #93443f;
    --color-red-06: #d82c0d;
    --color-red-06d: #b2544f;
    --color-red-07: #fa3510;
    --color-red-07d: #cf635c;
    --color-red-08: #fd6257;
    --color-red-08d: #d67d78;
    --color-red-09: #fd847e;
    --color-red-09d: #dd9592;
    --color-red-10d: #e0acaa;
    --color-red-11d: #e6c0be;
    --color-red-12d: #ecd1d0;
    --color-red-13d: #f1dedd;
    --color-red-14d: #f7ebeb;
    --color-red-15d: #fbf5f5;
    --color-rose-10: #f0a4b0;
    --color-rose-11: #f4bac2;
    --color-rose-12: #f7cdd2;
    --color-rose-13: #f9dbdf;
    --color-rose-14: #fde9ec;
    --color-rose-15: #fef4f5;
    --color-rose-00: #28040b;
    --color-rose-00d: #200a0e;
    --color-rose-01: #3a0912;
    --color-rose-01d: #311216;
    --color-rose-02: #4f101e;
    --color-rose-02d: #421c22;
    --color-rose-03: #66182e;
    --color-rose-03d: #572731;
    --color-rose-04: #842039;
    --color-rose-04d: #70343f;
    --color-rose-05: #aa2b47;
    --color-rose-05d: #914450;
    --color-rose-06: #cd3758;
    --color-rose-06d: #af5463;
    --color-rose-07: #ea456b;
    --color-rose-07d: #c86476;
    --color-rose-08: #ed6c84;
    --color-rose-08d: #ce808c;
    --color-rose-09: #ef8b9b;
    --color-rose-09d: #d598a1;
    --color-rose-10d: #dcadb3;
    --color-rose-11d: #e3c0c5;
    --color-rose-12d: #ead1d4;
    --color-rose-13d: #f0dee0;
    --color-rose-14d: #f6ebed;
    --color-rose-15d: #faf5f6;
    --color-teal-10: #00ccdb;
    --color-teal-11: #00deef;
    --color-teal-12: #26edff;
    --color-teal-13: #92f1ff;
    --color-teal-14: #c7f6ff;
    --color-teal-15: #e5faff;
    --color-teal-00: #071314;
    --color-teal-00d: #0d1213;
    --color-teal-01: #091f21;
    --color-teal-01d: #151d1e;
    --color-teal-02: #162b2e;
    --color-teal-02d: #20292b;
    --color-teal-03: #24393d;
    --color-teal-03d: #2e3739;
    --color-teal-04: #304b4f;
    --color-teal-04d: #3d494b;
    --color-teal-05: #356369;
    --color-teal-05d: #4c6063;
    --color-teal-06: #307b83;
    --color-teal-06d: #59767a;
    --color-teal-07: #2c909b;
    --color-teal-07d: #66898f;
    --color-teal-08: #00a6b3;
    --color-teal-08d: #739da3;
    --color-teal-09: #00bac7;
    --color-teal-09d: #81b0b6;
    --color-teal-10d: #8ec1c9;
    --color-teal-11d: #9bd3db;
    --color-teal-12d: #a8e1ea;
    --color-teal-13d: #c4e9ef;
    --color-teal-14d: #def1f6;
    --color-teal-15d: #eff8fa;
    --color-violet-10: #d9a5f3;
    --color-violet-11: #e2bbf6;
    --color-violet-12: #e9cef8;
    --color-violet-13: #efdcfa;
    --color-violet-14: #f5eafc;
    --color-violet-15: #faf4fd;
    --color-violet-00: #20032b;
    --color-violet-00d: #180c1e;
    --color-violet-01: #2f093c;
    --color-violet-01d: #25152d;
    --color-violet-02: #411151;
    --color-violet-02d: #341f3e;
    --color-violet-03: #56176b;
    --color-violet-03d: #462b52;
    --color-violet-04: #6e2288;
    --color-violet-04d: #5b396a;
    --color-violet-05: #8d2eae;
    --color-violet-05d: #754b89;
    --color-violet-06: #ab3ad2;
    --color-violet-06d: #8f5da6;
    --color-violet-07: #c051e9;
    --color-violet-07d: #a370bb;
    --color-violet-08: #c872ed;
    --color-violet-08d: #b086c6;
    --color-violet-09: #d18ef1;
    --color-violet-09d: #be9cd0;
    --color-violet-10d: #caafd9;
    --color-violet-11d: #d6c2e2;
    --color-violet-12d: #e1d2ea;
    --color-violet-13d: #e9dff0;
    --color-violet-14d: #f2ecf6;
    --color-violet-15d: #f8f5fa;
    --color-yellow-10: #b8c131;
    --color-yellow-11: #c7d638;
    --color-yellow-12: #d4e13b;
    --color-yellow-13: #e4eb45;
    --color-yellow-14: #f3f973;
    --color-yellow-15: #f5fcbe;
    --color-yellow-00: #111202;
    --color-yellow-00d: #111209;
    --color-yellow-01: #1c1d03;
    --color-yellow-01d: #1c1c11;
    --color-yellow-02: #262806;
    --color-yellow-02d: #262719;
    --color-yellow-03: #35370a;
    --color-yellow-03d: #353624;
    --color-yellow-04: #474911;
    --color-yellow-04d: #474831;
    --color-yellow-05: #5c6019;
    --color-yellow-05d: #5c5e41;
    --color-yellow-06: #717520;
    --color-yellow-06d: #717351;
    --color-yellow-07: #848927;
    --color-yellow-07d: #848760;
    --color-yellow-08: #92972c;
    --color-yellow-08d: #92946a;
    --color-yellow-09: #9faa31;
    --color-yellow-09d: #a1a777;
    --color-yellow-10d: #b9bd88;
    --color-yellow-11d: #c9d197;
    --color-yellow-12d: #d6dc9f;
    --color-yellow-13d: #e3e7a7;
    --color-yellow-14d: #f2f5ba;
    --color-yellow-15d: #f6f9dc;
    --color-docs-background-default: #0d1213;
    --color-docs-background-surface-default: #151d1e;
    --color-docs-background-surface-hover: #20292b;
    --color-docs-background-surface-active: #2e3739;
    --color-docs-text-default: #d7d7db;
    --color-docs-text-subdued: #8a8f93;
    --color-docs-text-bright: #ffffff;
    --color-docs-text-onfill: #eff8fa;
    --color-docs-text-headline-default: #eef1f1;
    --color-docs-text-headline-subdued: #abb1b8;
    --color-docs-text-headline-minor-default: #d7d7db;
    --color-docs-text-headline-minor-subdued: #abb1b8;
    --color-docs-text-link-default: #b5c9fa;
    --color-docs-text-link-hover: #c8d7ff;
    --color-docs-text-link-highlight: #002852;
    --color-docs-text-link-active: #d8e2ff;
    --color-docs-text-link-visited: #b5c9fa;
    --color-docs-divider-default: #24393d;
    --color-docs-border-default: #24393d;
    --color-docs-border-hover: #304b4f;
    --color-docs-border-active: #356369;
    --color-docs-fill-default: #477b67;
    --color-docs-fill-icon-default: #d7d7db;
    --color-docs-fill-icon-hover: #eef1f1;
    --color-docs-fill-icon-active: #ffffff;
    --color-graphql-background-default: #180c1e;
    --color-graphql-background-surface-default: #25152d;
    --color-graphql-background-surface-hover: #341f3e;
    --color-graphql-background-surface-active: #462b52;
    --color-graphql-text-default: #eccfdf;
    --color-graphql-text-subdued: #d793bb;
    --color-graphql-text-bright: #ffffff;
    --color-graphql-text-onfill: #fbf5f8;
    --color-graphql-text-headline-default: #fee8f4;
    --color-graphql-text-headline-subdued: #eccfdf;
    --color-graphql-text-headline-minor-default: #fed8ed;
    --color-graphql-text-headline-minor-subdued: #eccfdf;
    --color-graphql-text-link-default: #e2bbf6;
    --color-graphql-text-link-hover: #e9cef8;
    --color-graphql-text-link-highlight: #411151;
    --color-graphql-text-link-active: #efdcfa;
    --color-graphql-text-link-visited: #e2bbf6;
    --color-graphql-divider-default: #462b52;
    --color-graphql-border-default: #462b52;
    --color-graphql-border-hover: #5b396a;
    --color-graphql-border-active: #754b89;
    --color-graphql-fill-default: #a75588;
    --color-graphql-fill-icon-default: #d793bb;
    --color-graphql-fill-icon-hover: #deaac8;
    --color-graphql-fill-icon-active: #e6bfd4;
    --color-liquid-background-default: #0b101f;
    --color-liquid-background-surface-default: #101B2E;
    --color-liquid-background-surface-hover: #1A273F;
    --color-liquid-background-surface-active: #283551;
    --color-liquid-background-surface-sheer: #101B2E80;
    --color-liquid-text-default: #d0d7ec;
    --color-liquid-text-subdued: #95a7d5;
    --color-liquid-text-bright: #ffffff;
    --color-liquid-text-onfill: #f5f6fb;
    --color-liquid-text-headline-default: #dde2f1;
    --color-liquid-text-headline-subdued: #aab8dd;
    --color-liquid-text-headline-minor-default: #bfc9e5;
    --color-liquid-text-headline-minor-subdued: #95a7d5;
    --color-liquid-text-link-default: #b5c9fa;
    --color-liquid-text-link-hover: #c8d7ff;
    --color-liquid-text-link-highlight: #002852;
    --color-liquid-text-link-active: #d8e2ff;
    --color-liquid-text-link-visited: #b5c9fa;
    --color-liquid-divider-default: #283551;
    --color-liquid-border-default: #283551;
    --color-liquid-border-hover: #364669;
    --color-liquid-border-active: #475b86;
    --color-liquid-fill-default: #5870a4;
    --color-liquid-fill-icon-default: #95a7d5;
    --color-liquid-fill-icon-hover: #aab8dd;
    --color-liquid-fill-icon-active: #bfc9e5;
    --color-rest-background-default: #0c1115;
    --color-rest-background-surface-default: #0a1d26;
    --color-rest-background-surface-hover: #122a35;
    --color-rest-background-surface-active: #133a48;
    --color-rest-text-default: #bedbeb;
    --color-rest-text-subdued: #81aec4;
    --color-rest-text-bright: #ffffff;
    --color-rest-text-onfill: #f0f8fc;
    --color-rest-text-headline-default: #e2f0f8;
    --color-rest-text-headline-subdued: #bedbeb;
    --color-rest-text-headline-minor-default: #cee6f4;
    --color-rest-text-headline-minor-subdued: #bedbeb;
    --color-rest-text-link-default: #b5c9fa;
    --color-rest-text-link-hover: #c8d7ff;
    --color-rest-text-link-highlight: #002852;
    --color-rest-text-link-active: #d8e2ff;
    --color-rest-text-link-visited: #b5c9fa;
    --color-rest-divider-default: #133a48;
    --color-rest-border-default: #133a48;
    --color-rest-border-hover: #184c5e;
    --color-rest-border-active: #1e647a;
    --color-rest-fill-default: #257a95;
    --color-rest-fill-icon-default: #81aec4;
    --color-rest-fill-icon-hover: #8fbfd7;
    --color-rest-fill-icon-active: #a9cfe4;
    --color-graphqlarg-background-default: #2f093c;
    --color-graphqlarg-background-surface-default: #2f093c;
    --color-graphqlarg-background-surface-hover: #411151;
    --color-graphqlarg-background-surface-active: #411151;
    --color-graphqlarg-text-default: #d9a5f3;
    --color-graphqlarg-text-subdued: #caafd9;
    --color-graphqlarg-text-bright: #ffffff;
    --color-graphqlarg-text-link-default: #d9a5f3;
    --color-graphqlarg-text-link-hover: #e2bbf6;
    --color-graphqlarg-text-link-highlight: #411151;
    --color-graphqlarg-text-link-active: #e9cef8;
    --color-graphqlarg-text-link-visited: #d9a5f3;
    --color-graphqlarg-border-default: #6e2288;
    --color-graphqlarg-border-active: #c051e9;
    --color-graphqlinput-background-default: #161d15;
    --color-graphqlinput-background-surface-default: #161d15;
    --color-graphqlinput-background-surface-hover: #202b1f;
    --color-graphqlinput-background-surface-active: #202b1f;
    --color-graphqlinput-text-default: #63f44c;
    --color-graphqlinput-text-subdued: #53d240;
    --color-graphqlinput-text-bright: #ffffff;
    --color-graphqlinput-text-link-default: #53d240;
    --color-graphqlinput-text-link-hover: #5ce546;
    --color-graphqlinput-text-link-highlight: #202b1f;
    --color-graphqlinput-text-link-active: #63f44c;
    --color-graphqlinput-text-link-visited: #53d240;
    --color-graphqlinput-border-default: #374c36;
    --color-graphqlinput-border-active: #4cbf3a;
    --color-graphqlmutation-background-default: #261903;
    --color-graphqlmutation-background-surface-default: #261903;
    --color-graphqlmutation-background-surface-hover: #352505;
    --color-graphqlmutation-background-surface-active: #352505;
    --color-graphqlmutation-text-default: #febe49;
    --color-graphqlmutation-text-subdued: #ebaf26;
    --color-graphqlmutation-text-bright: #ffffff;
    --color-graphqlmutation-text-link-default: #ebaf26;
    --color-graphqlmutation-text-link-hover: #febe49;
    --color-graphqlmutation-text-link-highlight: #352505;
    --color-graphqlmutation-text-link-active: #ffd088;
    --color-graphqlmutation-text-link-visited: #ebaf26;
    --color-graphqlmutation-border-default: #5b430e;
    --color-graphqlmutation-border-active: #febe49;
    --color-graphqlobject-background-default: #4f053a;
    --color-graphqlobject-background-surface-default: #4f053a;
    --color-graphqlobject-background-surface-hover: #69064e;
    --color-graphqlobject-background-surface-active: #69064e;
    --color-graphqlobject-text-default: #ff97d7;
    --color-graphqlobject-text-subdued: #deaac8;
    --color-graphqlobject-text-bright: #ffffff;
    --color-graphqlobject-text-link-default: #ff97d7;
    --color-graphqlobject-text-link-hover: #fcb4de;
    --color-graphqlobject-text-link-highlight: #4f053a;
    --color-graphqlobject-text-link-active: #fdc8e6;
    --color-graphqlobject-text-link-visited: #ff97d7;
    --color-graphqlobject-border-default: #870765;
    --color-graphqlobject-border-active: #ff97d7;
    --color-graphqlquery-background-default: #190c56;
    --color-graphqlquery-background-surface-default: #190c56;
    --color-graphqlquery-background-surface-hover: #211375;
    --color-graphqlquery-background-surface-active: #211375;
    --color-graphqlquery-text-default: #b4b1ff;
    --color-graphqlquery-text-subdued: #b7b5dd;
    --color-graphqlquery-text-bright: #ffffff;
    --color-graphqlquery-text-link-default: #b4b1ff;
    --color-graphqlquery-text-link-hover: #c6c4ff;
    --color-graphqlquery-text-link-highlight: #211375;
    --color-graphqlquery-text-link-active: #d5d3fe;
    --color-graphqlquery-text-link-visited: #b4b1ff;
    --color-graphqlquery-border-default: #413e87;
    --color-graphqlquery-border-active: #8d88ff;
    --color-graphqltype-background-default: #091f21;
    --color-graphqltype-background-surface-default: #091f21;
    --color-graphqltype-background-surface-hover: #162b2e;
    --color-graphqltype-background-surface-active: #162b2e;
    --color-graphqltype-text-default: #00ccdb;
    --color-graphqltype-text-subdued: #8ec1c9;
    --color-graphqltype-text-bright: #ffffff;
    --color-graphqltype-text-link-default: #00ccdb;
    --color-graphqltype-text-link-hover: #00deef;
    --color-graphqltype-text-link-highlight: #162b2e;
    --color-graphqltype-text-link-active: #26edff;
    --color-graphqltype-text-link-visited: #00ccdb;
    --color-graphqltype-border-default: #304b4f;
    --color-graphqltype-border-active: #00a6b3;
    --color-overlay-sheer: #00000026;
    --color-overlay-medium: #00000059;
    --color-overlay-heavy: #0000008c;
    --color-restdel-background-default: #530c02;
    --color-restdel-background-surface-default: #530c02;
    --color-restdel-text-default: #fd847e;
    --color-restdel-text-bright: #fe9f9b;
    --color-restdel-text-onfill: #fd6257;
    --color-restdel-border-default: #fa3510;
    --color-restdel-border-active: #fe9f9b;
    --color-restdel-fill-default: #530c02;
    --color-restget-background-default: #211375;
    --color-restget-background-surface-default: #211375;
    --color-restget-text-default: #b4b1ff;
    --color-restget-text-bright: #d5d3fe;
    --color-restget-text-onfill: #c6c4ff;
    --color-restget-border-default: #c6c4ff;
    --color-restget-border-active: #d5d3fe;
    --color-restget-fill-default: #211375;
    --color-restobject-background-default: #0a1d26;
    --color-restobject-background-surface-default: #0a1d26;
    --color-restobject-text-default: #25a2c6;
    --color-restobject-text-bright: #7cd4fb;
    --color-restobject-text-onfill: #2bb5df;
    --color-restobject-border-default: #2bb5df;
    --color-restobject-border-active: #7cd4fb;
    --color-restobject-fill-default: #122a35;
    --color-restparam-background-default: #2f093c;
    --color-restparam-background-surface-default: #2f093c;
    --color-restparam-text-default: #d18ef1;
    --color-restparam-text-bright: #e2bbf6;
    --color-restparam-text-onfill: #d18ef1;
    --color-restparam-border-default: #d18ef1;
    --color-restparam-border-active: #e2bbf6;
    --color-restparam-fill-default: #411151;
    --color-restpost-background-default: #1d2b25;
    --color-restpost-background-surface-default: #1d2b25;
    --color-restpost-text-default: #00f4b9;
    --color-restpost-text-bright: #a9ffde;
    --color-restpost-text-onfill: #34ffc5;
    --color-restpost-border-default: #00e4ad;
    --color-restpost-border-active: #00f4b9;
    --color-restpost-fill-default: #293933;
    --color-restput-background-default: #35370a;
    --color-restput-background-surface-default: #1c1d03;
    --color-restput-text-default: #e4eb45;
    --color-restput-text-bright: #f3f973;
    --color-restput-text-onfill: #d4e13b;
    --color-restput-border-default: #e4eb45;
    --color-restput-border-active: #f3f973;
    --color-restput-fill-default: #35370a;
    --color-resttype-background-default: #091f21;
    --color-resttype-background-surface-default: #091f21;
    --color-resttype-text-default: #00a6b3;
    --color-resttype-text-bright: #00deef;
    --color-resttype-text-onfill: #00bac7;
    --color-resttype-border-default: #00bac7;
    --color-resttype-border-active: #00deef;
    --color-resttype-fill-default: #091f21;
    --color-critical-background-surface-default: #290400;
    --color-critical-text-default: #fd6257;
    --color-critical-text-bright: #ffffff;
    --color-critical-text-headline-default: #fd6257;
    --color-critical-text-link-default: #fd847e;
    --color-critical-text-link-hover: #fe9f9b;
    --color-critical-text-link-highlight: #3d0600;
    --color-critical-text-link-active: #feb7b4;
    --color-critical-text-link-visited: #fd847e;
    --color-critical-border-default: #fa3510;
    --color-critical-fill-default: #fa3510;
    --color-critical-fill-icon-default: #fa3510;
    --color-experimental-background-surface-default: #0a1d26;
    --color-experimental-text-default: #26edff;
    --color-experimental-text-bright: #ffffff;
    --color-experimental-text-headline-default: #92f1ff;
    --color-experimental-text-link-default: #00deef;
    --color-experimental-text-link-hover: #92f1ff;
    --color-experimental-text-link-highlight: #133a48;
    --color-experimental-text-link-active: #00deef;
    --color-experimental-text-link-visited: #00deef;
    --color-experimental-border-default: #00a6b3;
    --color-experimental-fill-default: #00a6b3;
    --color-experimental-fill-icon-default: #00ccdb;
    --color-info-background-surface-default: #1b173a;
    --color-info-text-default: #c6c4ff;
    --color-info-text-bright: #ffffff;
    --color-info-text-headline-default: #d5d3fe;
    --color-info-text-link-default: #b4b1ff;
    --color-info-text-link-hover: #d5d3fe;
    --color-info-text-link-highlight: #322f69;
    --color-info-text-link-active: #b4b1ff;
    --color-info-text-link-visited: #b4b1ff;
    --color-info-border-default: #8d88ff;
    --color-info-fill-default: #8d88ff;
    --color-info-fill-icon-default: #8d88ff;
    --color-success-background-surface-default: #0f1f19;
    --color-success-text-default: #34ffc5;
    --color-success-text-bright: #ffffff;
    --color-success-text-headline-default: #a9ffde;
    --color-success-text-link-default: #00f4b9;
    --color-success-text-link-hover: #34ffc5;
    --color-success-text-link-highlight: #293933;
    --color-success-text-link-active: #a9ffde;
    --color-success-text-link-visited: #00f4b9;
    --color-success-border-default: #3ea784;
    --color-success-fill-default: #3ea784;
    --color-success-fill-icon-default: #3ea784;
    --color-warning-background-surface-default: #180f01;
    --color-warning-text-default: #d69e27;
    --color-warning-text-bright: #ffffff;
    --color-warning-text-headline-default: #ebaf26;
    --color-warning-text-link-default: #febe49;
    --color-warning-text-link-hover: #ffd088;
    --color-warning-text-link-highlight: #261903;
    --color-warning-text-link-active: #ffddb2;
    --color-warning-text-link-visited: #febe49;
    --color-warning-border-default: #ebaf26;
    --color-warning-fill-default: #ebaf26;
    --color-warning-fill-icon-default: #ebaf26;
    --color-shopifyplus-background-surface-default: #101f0e;
    --color-shopifyplus-text-default: #8cfb80;
    --color-shopifyplus-text-bright: #ffffff;
    --color-shopifyplus-text-headline-default: #bffeb9;
    --color-shopifyplus-text-link-default: #63f44c;
    --color-shopifyplus-text-link-hover: #8cfb80;
    --color-shopifyplus-text-link-highlight: #1e3d1c;
    --color-shopifyplus-text-link-active: #5ce546;
    --color-shopifyplus-text-link-visited: #63f44c;
    --color-shopifyplus-border-default: #5ce546;
    --color-shopifyplus-fill-default: #5ce546;
    --color-shopifyplus-fill-icon-default: #63f44c;
    --color-syntax-default: #a3dffd;
    --color-syntax-comment: #d7d7db;
    --color-syntax-add: #b4b1ff;
    --color-syntax-delete: #fe9f9b;
    --color-syntax-addhighlight: #413e87;
    --color-syntax-deletehighlight: #733330;
    --color-syntax-keyword: #9db8f7;
    --color-syntax-function: #f3f973;
    --color-syntax-number: #63f44c;
    --color-syntax-string: #fe9f9b;
    --color-syntax-boolean: #b4b1ff;
    --color-syntax-punctuation: #eef1f1;
    --color-syntax-liquidtag: #abb1b8;
    --color-syntax-liquidobject: #00f4b9;
    --color-syntax-liquidother: #ffd088;
    --depth-inset-1: inset 0px 2px 0px #000000;
    --depth-inset-2: inset 0px 3px 0px #000000;
    --depth-outset-1: inset 0px -2px 0px #000000, inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    --depth-outset-2: inset 0px -3px 0px #000000, inset 0px 2px 0px rgba(255, 255, 255, 0.2);
    --depth-elevation-1: 0px 1px 0px #000000;
    --depth-elevation-2: 0px 2px 0px #000000;
    --depth-elevation-3: 0px 3px 0px #000000;
    --depth-elevation-4: 0px 4px 0px #000000;
    --codeblock-color-docs-background-default: #091f21;
    --codeblock-color-docs-background-surface-default: #071314;
    --codeblock-color-docs-background-surface-hover: #162b2e;
    --codeblock-color-docs-background-surface-active: #24393d;
    --codeblock-color-docs-text-default: #a8e1ea;
    --codeblock-color-docs-text-subdued: #81b0b6;
    --codeblock-color-docs-text-bright: #ffffff;
    --codeblock-color-docs-text-link-default: #8ec1c9;
    --codeblock-color-docs-text-link-hover: #9bd3db;
    --codeblock-color-docs-text-link-active: #a8e1ea;
    --codeblock-color-docs-border-default: #24393d;
    --codeblock-color-docs-fill-default: #8ec1c9;
    --codeblock-color-docs-fill-icon-default: #8ec1c9;
    --codeblock-color-docs-fill-icon-hover: #9bd3db;
    --codeblock-color-docs-fill-icon-active: #a8e1ea;
    --codeblock-color-docs-code-linenumber: #356369;
    --codeblock-color-docs-code-highlight: #24393d;
    --codeblock-color-docs-code-selected: #133a48;
    --codeblock-color-rest-background-default: #0a1d26;
    --codeblock-color-rest-background-surface-default: #061219;
    --codeblock-color-rest-background-surface-hover: #122a35;
    --codeblock-color-rest-background-surface-active: #133a48;
    --codeblock-color-rest-text-default: #bedbeb;
    --codeblock-color-rest-text-subdued: #81aec4;
    --codeblock-color-rest-text-bright: #ffffff;
    --codeblock-color-rest-text-link-default: #8fbfd7;
    --codeblock-color-rest-text-link-hover: #a9cfe4;
    --codeblock-color-rest-text-link-active: #bedbeb;
    --codeblock-color-rest-border-default: #133a48;
    --codeblock-color-rest-fill-default: #8fbfd7;
    --codeblock-color-rest-fill-icon-default: #8fbfd7;
    --codeblock-color-rest-fill-icon-hover: #a9cfe4;
    --codeblock-color-rest-fill-icon-active: #bedbeb;
    --codeblock-color-rest-code-linenumber: #1e647a;
    --codeblock-color-rest-code-highlight: #133a48;
    --codeblock-color-rest-code-selected: #322f69;
    --codeblock-color-graphql-background-default: #25152d;
    --codeblock-color-graphql-background-surface-default: #180c1e;
    --codeblock-color-graphql-background-surface-hover: #341f3e;
    --codeblock-color-graphql-background-surface-active: #462b52;
    --codeblock-color-graphql-text-default: #fdc8e6;
    --codeblock-color-graphql-text-subdued: #d793bb;
    --codeblock-color-graphql-text-bright: #ffffff;
    --codeblock-color-graphql-text-link-default: #ff97d7;
    --codeblock-color-graphql-text-link-hover: #fcb4de;
    --codeblock-color-graphql-text-link-active: #fdc8e6;
    --codeblock-color-graphql-border-default: #341f3e;
    --codeblock-color-graphql-fill-default: #ff97d7;
    --codeblock-color-graphql-fill-icon-default: #ff97d7;
    --codeblock-color-graphql-fill-icon-hover: #fcb4de;
    --codeblock-color-graphql-fill-icon-active: #fdc8e6;
    --codeblock-color-graphql-code-linenumber: #754b89;
    --codeblock-color-graphql-code-highlight: #462b52;
    --codeblock-color-graphql-code-selected: #56176b;
    --codeblock-color-liquid-background-default: #101B2E;
    --codeblock-color-liquid-background-surface-default: #0b101f;
    --codeblock-color-liquid-background-surface-hover: #1A273F;
    --codeblock-color-liquid-background-surface-active: #283551;
    --codeblock-color-liquid-text-default: #d0d7ec;
    --codeblock-color-liquid-text-subdued: #95a7d5;
    --codeblock-color-liquid-text-bright: #ffffff;
    --codeblock-color-liquid-text-link-default: #aab8dd;
    --codeblock-color-liquid-text-link-hover: #bfc9e5;
    --codeblock-color-liquid-text-link-active: #d0d7ec;
    --codeblock-color-liquid-border-default: #283551;
    --codeblock-color-liquid-fill-default: #aab8dd;
    --codeblock-color-liquid-fill-icon-default: #aab8dd;
    --codeblock-color-liquid-fill-icon-hover: #bfc9e5;
    --codeblock-color-liquid-fill-icon-active: #d0d7ec;
    --codeblock-color-liquid-code-linenumber: #475b86;
    --codeblock-color-liquid-code-highlight: #283551;
    --codeblock-color-liquid-code-selected: #322f69;
    --codesyntax-color-plain: #a3dffd;
    --codesyntax-color-punctuation: #eef1f1;
    --codesyntax-color-comment: #d7d7db;
    --codesyntax-color-doctypetag: #d7d7db;
    --codesyntax-color-doctypename: #c6c4ff;
    --codesyntax-color-number: #63f44c;
    --codesyntax-color-string: #fe9f9b;
    --codesyntax-color-operator: #eef1f1;
    --codesyntax-color-operatorentity: #a3dffd;
    --codesyntax-color-operatorarrow: #37c7f4;
    --codesyntax-color-atrule: #f0a4b0;
    --codesyntax-color-atrulerule: #fcb4de;
    --codesyntax-color-atruleurl: #b5c9fa;
    --codesyntax-color-atruleurlfunction: #f5fcbe;
    --codesyntax-color-atruleurlpunctuation: #eef1f1;
    --codesyntax-color-keyword: #9db8f7;
    --codesyntax-color-keywordmodule: #ff97d7;
    --codesyntax-color-keywordimport: #ff97d7;
    --codesyntax-color-function: #f3f973;
    --codesyntax-color-regex: #fe9f9b;
    --codesyntax-color-important: #37c7f4;
    --codesyntax-color-constant: #7cd4fb;
    --codesyntax-color-classname: #8ec78a;
    --codesyntax-color-console: #7cd4fb;
    --codesyntax-color-parameter: #7cd4fb;
    --codesyntax-color-interpolation: #7cd4fb;
    --codesyntax-color-interpolationpunctuation: #37c7f4;
    --codesyntax-color-boolean: #b4b1ff;
    --codesyntax-color-property: #7cd4fb;
    --codesyntax-color-selector: #ffd088;
    --codesyntax-color-escape: #ffd088;
    --codesyntax-color-tag: #37c7f4;
    --codesyntax-color-tagpunctuation: #8fbfd7;
    --codesyntax-color-cdata: #8ec1c9;
    --codesyntax-color-attrname: #7cd4fb;
    --codesyntax-color-attrvalue: #f0a4b0;
    --codesyntax-color-attrvalueequals: #a3dffd;
    --codesyntax-color-entity: #37c7f4;
    --codesyntax-color-namespace: #00d19f;
    --codesyntax-color-languagejsx: #a3dffd;
    --codesyntax-color-languagejsxkeyword: #b4b1ff;
    --codesyntax-color-languagejsxkeywordalt: #ff97d7;
    --codesyntax-color-languagejsxtag: #00d19f;
    --codesyntax-color-languagejsxtagclass: #00e4ad;
    --codesyntax-color-languagejsxpunctuationscript: #00ccdb;
    --codesyntax-color-languagecss: #f0a4b0;
    --codesyntax-color-languagehtml: #00ccdb;
    --codesyntax-color-languageregexanchor: #f5fcbe;
    --codesyntax-color-languagehtmlpunctuation: #8ec1c9;
    --codesyntax-color-languagegraphql: #a3dffd;
    --codesyntax-color-languagegraphqlpunctuation: #a3dffd;
    --codesyntax-color-languagegraphqlkeyword: #00ccdb;
    --codesyntax-color-languagegraphqldefinition: #00ccdb;
    --codesyntax-color-languagegraphqlscalar: #00ccdb;
    --codesyntax-color-languagegraphqlclassname: #ff97d7;
    --codesyntax-color-languagegraphqlkeywordmutation: #ebaf26;
    --codesyntax-color-languagegraphqlkeywordquery: #b7b5dd;
    --codesyntax-color-languagegraphqldefinitionmutation: #febe49;
    --codesyntax-color-languagegraphqldefinitionquery: #b4b1ff;
    --codesyntax-color-languagegraphqlvariableinput: #53d240;
    --codesyntax-color-languagegraphqlatominput: #63f44c;
    --codesyntax-color-languagegraphqlpropertymutation: #7cd4fb;
    --codesyntax-color-languagegraphqlpropertyquery: #b4b1ff;
    --codesyntax-color-languagegraphqlattrname: #d9a5f3;
    --codesyntax-color-languagegraphqlobject: #ff97d7;
    --codesyntax-color-languagegraphqlproperty: #7cd4fb;
    --codesyntax-color-languageliquid: #a3dffd;
    --codesyntax-color-languageliquidpunctuation: #eef1f1;
    --codesyntax-color-languageliquiddelimiter: #aab8dd;
    --codesyntax-color-languageliquidplain: #ffffff;
    --codesyntax-color-languageliquidcomment: #d7d7db;
    --codesyntax-color-languageliquidobject: #00e4ad;
    --codesyntax-color-languageliquidkeyword: #b4b1ff;
    --codesyntax-color-languageliquidkeywordalt: #eef1f1;
    --codesyntax-color-languageliquidfunction: #f3f973;
    --codesyntax-color-languageliquidnumber: #9cd997;
    --codesyntax-color-languageliquidstring: #fe9f9b;
    --codesyntax-color-languageliquidboolean: #b4b1ff;
    --codesyntax-color-languageliquidempty: #b4b1ff;
    --codesyntax-color-languageliquidoperator: #eef1f1;
    --codesyntax-color-languageliquidtag: #d8f6d6;
    --codesyntax-color-languageliquidtagattr: #ebfbea;
    --form-color-docs-border-default: #59767a;
    --form-color-docs-border-hover: #66898f;
    --form-color-docs-border-active: #739da3;
    --form-color-rest-border-default: #577584;
    --form-color-rest-border-hover: #65889a;
    --form-color-rest-border-active: #729cae;
    --form-color-graphql-border-default: #8f5da6;
    --form-color-graphql-border-hover: #a370bb;
    --form-color-graphql-border-active: #b086c6;
    --form-color-liquid-border-default: #5870a4;
    --form-color-liquid-border-hover: #6783bf;
    --form-color-liquid-border-active: #7d95cc;
    --sidebar-color-docs-background-default: #151d1e;
    --sidebar-color-rest-background-default: #0a1d26;
    --sidebar-color-graphql-background-default: #25152d;
    --sidebar-color-liquid-background-default: #101B2E;
    --component-property-detail-default-container-color-background: #151d1e;
    --component-property-detail-default-label-color: #8a8f93;
    --component-property-detail-required-container-color-background: #290400;
    --component-property-detail-required-label-color: #fd6257;
    --component-property-detail-deprecated-container-color-background: #180f01;
    --component-property-detail-deprecated-label-color: #d69e27;
    --component-property-detail-beta-container-color-background: #0a1d26;
    --component-property-detail-beta-label-color: #26edff;
    --component-property-detail-readonly-container-color-background: #151d1e;
    --component-property-detail-readonly-label-color: #8a8f93;
    --component-property-detail-write-only-container-color-background: #151d1e;
    --component-property-detail-write-only-label-color: #8a8f93;
    --component-property-detail-nonnull-container-color-background: #151d1e;
    --component-property-detail-nonnull-label-color: #8a8f93;
    --component-property-detail-format-container-color-background: transparent;
    --component-property-detail-format-label-color: #8a8f93;
}

